.book-cover
  height: 400px
  position: relative
  overflow: hidden
  margin-bottom: 2rem

  .book-cover-background
    height: 100%
    width: 100%
    background-repeat: no-repeat
    background-size: cover
    -webkit-filter: blur(10px)
    -moz-filter: blur(10px)
    -o-filter: blur(10px)
    -ms-filter: blur(10px)
    filter: blur(10px)
    -webkit-transform: scale(1.1)
    transform: scale(1.1)

  .book-card-cover
    position: absolute
    height: 100%
    top: 0
    left: 50%
    transform: translateX(-50%)


.book-title
  font-size: 2.5rem
  font-weight: 300

.book-author
  display: inline-block
  font-size: 1.7rem
  font-weight: 300
  margin: 0.5rem 0
  cursor: pointer
  &:hover
    color: #6ac8cf
    font-weight: 400

.book-description
  line-height: 1.5

.current-location
  font-size: 1.5rem
  font-weight: 400
  margin: 1rem 0 1rem 0

.owner-card
  margin-bottom: 1rem
  padding: 1rem
  border: 1px solid #e0e6ed
  border-radius: 4px
  background-color: rgba(106, 200, 207, 0.35)

  &:hover
    background-color: rgba(106, 200, 207, 0.58)

  .owner-card-image
    display: inline-block
    width: 60px
    height: 60px
    position: relative
    margin-right: 1rem

    img
      width: 100%
      height: 100%
      object-fit: cover

  .owner-card-info
    display: inline-block
    p
      margin: 0 0 0.5rem 0

      &:first-of-type
        font-weight: 400
        font-size: 1.4rem
      &:nth-of-type(2)
        color: #8492A6
        font-size: 1rem
        margin: 0

.map-container
  margin-bottom: 2rem