.book-card
  height: 400px
  margin-bottom: 1rem

  .el-card__body
    height: 360px

    .book-title
      height: 20%

    .book-cover-wrapper
      height: 80%

      .book-card-cover
        height: 100%
        width: 100%
        object-fit: cover

.search-menu
  width: 100%
  background-color: #f9f9f9
  height: 60px