body
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif
  margin: 0
  font-size: 1.5rem
  font-weight: 300

button.el-button
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif
  font-size: 1.2rem
  font-weight: 300
  margin-bottom: 1rem

.main-container
  padding: 20px 30px
  margin: 0 auto
  box-sizing: border-box

.limited
  max-width: 1140px

.loading-icon
  text-align: center
  i
    font-size: 2.5rem
  div
    display: inline-block
    margin-left: 1rem
    font-size: 1.5rem

button.primary-btn
  color: white
  background: #6ac8cf
  border: 1px solid #6ac8cf
  &:hover
    background: rgba(106, 200, 207, 0.59)
    color: white
    border-color: rgba(106, 200, 207, 0.59)
a
 text-decoration: none
 color: inherit

.clickable
  cursor: pointer

@media (max-width: 1140px)
  body
    font-size: 1.2rem

  .main-container
    width: 100%